<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedProjekt.Properties.Settings.AProektSKConnectionString"
            connectionString="Data Source=SBD\MSSQL;Initial Catalog=AProektSK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MedProjekt.Properties.Settings.AProektSK1ConnectionString"
            connectionString="Data Source=SBD\MSSQL;Initial Catalog=AProektSK1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>